/* Structure globale */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #007acc; /* Fond bleu */

}

/* Navigation */
nav {
    background: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}

nav ul li a:hover {
    background: #444;
    border-radius: 5px;
}

section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #007BFF;

}

h4 {
    text-align: center;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #333;
  color: white;
  margin-top: 20px;
}